<!-- footer -->
<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <div class="seven wide column">
            <i class="fas fa-globe-americas"></i> <i class="fas fa-suitcase"></i> <i class="fas fa-plane"></i>
        </div>
        <div class="ui horizontal inverted small divided link list">
            <a class="item" href="/index">Site Map</a>
            <a class="item" href="/contact">Contact Us</a>
            <a class="item" href="#">Terms and Conditions</a>
            <a class="item" href="#">Privacy Policy</a>
            <p>Copyright 2019 - All rights reserved &copy;</p>
        </div>
    </div>
</div>
<!-- end footer -->