<header>
    <!-- NavBar -->
    <div class="ui secondary pointing menu" id="menu">
        <a class="active item" href="/index">
            <p class="navItem">Home</p>
        </a>
        <a class="item" href="/form">
            <p class="navItem">Register</p>
        </a>
        <a class="item" href="/contact">
            <p class="navItem">Contact Us</p>
        </a>
        <div class="right menu">
            <a class="item" href="/logout">
                <p class="navItem">Log Out</p>
            </a>
        </div>
    </div>

    <!-- NavBar End -->
</header>