body {
    background-color: #800080;
    background-image: url("/assets/blue_globe.png");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 70%;
    background-position-y: 5%;
    
}


h1 {
    font-size: 600%;
    color:#FFD700;
    margin-left: 40px;
    font-weight: bold;
    font-family: 'Cinzel Decorative', cursive;

}

.footer {
    margin-top: 200px;
}

.mini {

font-size: 200%;
margin-top: 100px;
margin-left: 400px;
margin-right: 400px;
}
.two {
    margin-top: 400px;
    font-size: 30px;
}
.password {
    
    font-size: 30px;
    margin-left: 15px;
}

#login {
    margin-top: 50px;
    margin-left: 250px;
    font-size: 25px;
    background-color: #09dd3e
}
.inverted {

    margin-top: 100px;
}
.item1 {
    margin-left: 200px;
}
#bandInfo {
    display: block;
    float: left;
}

#back-img{
    background-image: url("./assets/architecture-building-exterior-castle-1654748.jpg");
    background-color: black;
    height: 50%;
}
.friendHeader {
    margin-left: 50px;
}
