  body {
    background-color: #800080;
    background-image: url("/styles/blue_globe.png");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 80%;
    background-position-y: 3%;
    
}


h1 {
    margin-top: 60px;
    background-position-y: 5%;
    margin-left: 400px;
    font-size: 600%;
    color:#FFD700;

    font-weight: bold;
    font-family: 'Cinzel Decorative', cursive;

}

#panel{
  background:white;

}


/* sticky footer*/
html, body {
  height: 100%;
}


body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;

}
#submit {
  background-color: gold;
  margin-left: 650px;
  font-size: 150%;
}